<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835093936280-54ngmkn303166rp1odmdor1ealo7cu03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835093936280-54ngmkn303166rp1odmdor1ealo7cu03</string>
	<key>API_KEY</key>
	<string>AIzaSyCKF7BV7baxEiiMZvaW9ZhxNjt4tdPg8xo</string>
	<key>GCM_SENDER_ID</key>
	<string>835093936280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sipadu8202</string>
	<key>PROJECT_ID</key>
	<string>sipadu-halteng</string>
	<key>STORAGE_BUCKET</key>
	<string>sipadu-halteng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835093936280:ios:a091680d2f73057c1278ed</string>
</dict>
</plist>